body {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

p{
    color: #73F104;
}

h1{
    color: #FFFFFF;
    display: inline;
}

header{
    color: #73F104;
}

strong{
    color: red;
}

hr{
    border-color: red;
}

a{
    color: blue;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover {
    text-decoration: none;
    color: red;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    padding: 5px;
}

#image_left{
    float: left;
}

#image_right{
    float: right;
}

#input_left{
    float: left;
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#display_right{
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}