{% extends '_base.html.twig' %}
{% block main %}

<div id="input_left" style="width: 30%;">
    <h1>Add List</h1>

    <form
            action="/processAddAction"
            method="post"
    >


        <label for="description">description:</label>
        <textarea title="description" name="description" autofocus></textarea>
        <!--<input type="text" title="description" name="description" autofocus>-->
        <br>

        <label for="implementorid" class="space">implementorid:</label>
        <input type="text" title="implementorid" name="implementorid">
        <br>

        <label for="deadline" class="space">deadline:</label>
        <input type="date" title="deadline" name="deadline">
        <br>

        <label for="status" class="space">status:</label>
        <input type="text" title="status" name="status">
        <br>

        <input type="submit" value="Submit">
        <input type="reset" title="" value="Reset">

    </form>
</div>
    <div id="input_left" style="width: 70%;">
{% include 'lists/actionList.html.twig' %}
    </div>
{% endblock %}