{% block main %}

<h1>Admin Nav</h1>
    <nav>
        <a href="/addUser">Add User</a>
        <a href="/removeUser">Remove User</a>
        <a href="/updateUser">Update User</a>
        <br>
        <a href="/addAction">Add List</a>
        <a href="/removeAction">Remove List</a>
        <a href="/updateAction">Update List</a>
        <br>
        <a href="/addProject">Add Project</a>
        <a href="/removeProject">Remove Project</a>
        <a href="/updateProject">Update Project</a>
        <br>
        <a href="/addPublication">Add Publications</a>
        <a href="/removePublication">Remove Publications</a>
        <a href="/updatePublication">Update Publications</a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/listUsers">Users</a>
        <a href="/listActions">List</a>
        <a href="/listProjects">List Projects</a>
        <a href="/listPublications">List Publications</a>
        <a href="/killSession">Logout</a>
    </nav>
<hr>
{% endblock %}