{% block main %}
<h1>User nav</h1>
<nav>
    <a href="/homepage">Home Page</a>
    <a href="/listUsers">Users</a>
    <a href="listActions">List</a>
    <a href="/listPublications">List Publications</a>
    <a href="/killSession">Logout</a>
</nav>

<hr>
{% endblock %}
