{% block main %}
    <h1>Public nav</h1>
    <nav>
        <a href="/listUsers">Users</a>
        <a href="/listActions">List</a>
        <a href="/listProjects">List Projects</a>
        <a href="/listPublications">List Publications</a>
        <a href="/">Login</a>
    </nav>

    <hr>
{% endblock %}
